// sass --watch resources/scss/main.scss:resources/css/main.css

$broken-white: #e6efc2;
$green: #98d3a6;
$teal: #37afa8;
$dark-blue: #496e7d;
$brownish: #5b5451;

html {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

#banner {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    padding: 15rem;
    color: $dark-blue;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px $green;
  }
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    color: $dark-blue;
    text-shadow: 3px 3px $green;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
  }

  .fotos {
    width: 80%;
    height: 200px;
    margin: 0 0 2rem 0;

    img {
      height: 200px;
      max-width: auto;
    }
  }
}

.slick-prev:before {
  color: $dark-blue;
  font-size: 40px;
  position: relative;
  right: 20px;
}
.slick-next:before {
  color: $dark-blue;
  font-size: 40px;
  position: relative;
}

#letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  width: 100%;
  background-image: url(../images/letter-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .kroatian {
    margin: 5rem;
  }

  .dutch {
    margin: 5rem;
    display: none;
  }

  p {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 2px solid white;
  }

  span {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 2px solid white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 300ms ease;

    &:hover {
      background-color: white;
    }
  }
}
